<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Book store</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	
	<div th:insert="~{header :: nav}"></div>
	
	<div class="container mt-3 text-center">
		<h1 class="Display-2 my-3 pt-3 text-center">Welcome to book store</h1><br></br>
		<p>Books introduce us to a world of wisdom and knowledge. Nowadays knowledge can be gained from anywhere as books have gone through years of evolution. The first book that was ever printed was the Gutenberg bible, it was printed in 1455. In primitive times, men learned how to read and write, they saw the need for writing which helped them to record transactions, send messages to their loved ones who lived afar, they made certain discoveries and wrote about them on various manuscripts. 


Manuscripts are the most ancient form of paper that was used to write important information, it was made of the papyrus plant. They were introduced in Egypt and many kings and queens hired writers to write about their glorious Egyptian empires and about the wars that they had won. These manuscripts also contain information about various transactions that were made in the court and this depicts their trading lifestyle, Egyptian economy and their religion, after doing analysis we can find that Egyptians were very similar to Roman beliefs. All the little information that we know today about ancient times is because of these manuscripts, they are the only source for knowing our past closely. 


Then came the 1900s when people started hand stitching books, this process made the books extremely expensive to purchase. In the 1930s some publishers like the Penguin publishers started to glue their books together which helped in reducing the cost of production, which then made the books affordable for everybody. 


Now as we are moving towards a digitalised era, we can now download any book that we want to read through the Internet, the books are available in PDF and other various versions, With the coming up of Kindle, people started reading books on the Kindle tablet, enabling readers to reach a wide range of genres all while sitting at the comfort of their home. Books occupy a significant meaning in our lives and people should share their books with others or the information that they gathered while reading a particular book as such knowledge can become an inspiration for others and they might start reading as well.
		</p> <br><br>
		<img class="mb-5" src="/images/Books_hd.jpg" alt="pic" style="width:400px;">

	</div>
		<div th:insert="~{footer :: copy}" class="bg-dark text-light p-2 "></div>
	</div>
	
</body>
</html>